# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/x64/Debug
/packages/AllegroDeps.1.3.0.4
/packages/Allegro.5.1.12.4
/assets/level1.txt~
/assets/oldassets
/.vs/MineRunner/v17
/.vs/MineRunner/FileContentIndex
/x64/Release/MineRunner.tlog
/x64/Release
